<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body ng-controller="CameraCtrl as cameraController">
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main ng-controller="CartCtrl as cartController">
        <div class="row">
          <div class="col s12 m8">
            <div class="row">
              <div class="col s8 input-field">
                <input type="text" placeholder="Search here" ng-model="cameraController.search">
              </div>
              <div class="col s4 input-field">
                <select ng-model="cameraController.sortBy">
                  <option value="name">Name</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>
                <div ng-repeat="item in cartController.cartItems">
                  <p>{{item.quantity}} - {{item.name}} <button type="button" class="delete-cart-item" ng-click="cartController.removeFromCart(item)">X</button></p>
                </div>
                <div>
                  Subtotal<span class="subtotal">{{cartController.subtotal | currency}}</span>
                </div>
                <div>
                  Tax<span class="tax">{{cartController.tax | currency}}</span>
                </div>
                <div>
                  Total<span class="total">{{cartController.total | currency}}</span>
                </div>
              </div>
              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>

        <div ng-repeat="camera in cameraController.cameras | filter: cameraController.search | orderBy: cameraController.sortBy">
          <h1>{{camera.name}}</h1>
          <img ng-src="{{camera.image}}"/>
          <h2>Price: {{camera.price | currency }} <span ng-if="camera.onSale"><em>On Sale!</em></span></h2>
          <h4>Rating: {{camera.rating | ratingStars}}</h4>
          <button type="button" name="button" ng-click="cartController.addToCart(camera)">Add to Cart</button>
        </div>

      </main>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
